<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= @query %>">
  <button type="submit">Search</button>

  <% unless @query.empty? %>
  <div>
    <% if @results.empty? %>
    Sorry, no matches were found.
    <% else %>
      <h2 class="content-subhead">Results for <%= @query %></h2>
      <ul>
      <% @results.each do |result| %>
        <li>
          <%= result[:name] %>
          <ul>
            <% result[:paragraphs].each do |paragraph| %>
            <li><a href="/chapter/<%= result[:number] %>?query=<%= @query %>#paragraph<%= paragraph[:number] %>"><%= highlight_query(paragraph[:content], @query) %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
</form>