
<h2><%== navigation_path(current_location) %></h2>
<ul>
<% @entries.each do |entry| %>
  <li>
    <a href="<%= entry_view_href(entry) %>"><%= entry.name %></a>
    <% edit_href = entry_edit_href(entry); if edit_href %><a class="edit" href="<%= edit_href %>"></a><% end %>
    <% delete_href = entry_delete_href(entry); if delete_href %><form class="inline delete" action="<%= delete_href %>" method="post">
      <button class="delete" type="submit"></button>
    </form><% end %>
  </li>
<% end %>
</ul>
<% content_for :footer do %>
<a href="<%= new_directory_href %>">[New Directory]</a> <a href="<%= new_file_href %>">[New File]</a>
<% end %>
<script src="/javascripts/browse_controller.js"></script>
