
<h2><%== navigation_path(current_location) %></h2>
<ul>
<% @entries.each do |entry| %>
  <li>
    <%== render_content_entry(entry) %>
  </li>
<% end %>
</ul>
<% content_for :footer do %>
<a href="<%= new_directory_href %>">[New Directory]</a> <a href="<%= new_file_href %>">[New File]</a>
<form action="<%= upload_href(current_location) %>" enctype="multipart/form-data" method="post">
  <label for="uploads[]">Upload:</label>
  <input name="uploads[]" type="file" multiple accept="<%= uploads_input_accept %>">
  <input type="submit" value="Upload">
</form>
<% end %>
<script src="/javascripts/browse_controller.js"></script>
