<!doctype html>
<html lang="en-US">
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-3.6.2.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Neato CMS</h1>
    </header>
    <% if session[:error] %>
    <div class="flash error">
      <%== session_flash_messages(session.delete(:error)) %>
    </div>
    <% end %>
    <% if session[:success] %>
    <div class="flash success">
      <%== session_flash_messages(session.delete(:success)) %>
    </div>
    <% end %>
    <% if session[:info] %>
    <div class="flash info">
      <%== session_flash_messages(session.delete(:info)) %>
    </div>
    <% end %>
    <main>
      <%== yield %>
    </main>
  </body>
  <footer>
    <div>
      <%== yield_content :footer %>
    </div>
    <% if authenticated? %>
    <div class="auth-status">
      <i>Signed in as <%= username %>.</i>
      <form class="inline" action="<%= app_route(:logout) %>" method="post">
        <button type="submit">Sign out</button>
      </form>
    </div>
    <% end %>
  </footer>
</html>
