<form action="<%= post_route %>" method="post">
  <h2>
    Create a new <%= type_name %> in <%= current_location %>
  </h2>
  <div>
    <label for="entry_name">Name:</label>
  </div>
  <div>
    <div><%= allowed_input_message %></div>
    <input name="entry_name" type="text" value="<%= params['entry_name'] || '' %>">
    <input type="submit" value="Create">
  </div>
</form>