<div>
  <h1><%= params['id'] %></h1>
  <ul>
    <li>Email: <%= @user[:email] %></li>
    <li>Interests: <%= @user[:interests].join(', ') %></li>
  </ul>
</div>

<h2>Other Users</h2>
<ul>
<% @users.each_key do |key| %>
  <% next if key == params['id'].to_sym %>
  <li><a href="/user/<%= key %>"><%= key %></a></li>
<% end %>
</ul>